@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');
body{
    margin: 0; 
    font-family: Poppins;
}
.container{
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}
/*
.containerS{
    margin-top:5%;
}
  -Style to create scroll bar in dropdown -
.scrollable-dropdown{
    height: auto;
    max-height:320px;  -Increase / Decrease value as per your need-
    overflow-x: hidden;
}
*/
svg{
    width: 30px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.icon-cart{
    position: relative;
    width: 30px;
    height: 30px;
}
.icon-cart span{
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}
.title{
    font-size: xx-large;
}
.listProduct .item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listProduct .item{
    position: relative;
    background-color: #EEEEE6;
    padding: 20px;
    border-radius: 20px;
    width: 200px; /* Adjust width as needed */
    height: 320px; /* Adjust height as needed */
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}

.listProduct .item button{
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;

}

.addCart {
    position: absolute;
    bottom: 18px; /* Adjust the distance from the bottom as needed */
    left: 50%; /* Align to the center horizontally */
    transform: translateX(-50%);
    padding: 5px 10px; /* Adjust padding as needed */
    background-color: #353432; /* Example button color */
    color: #eee; /* Example text color */
    border: none;
    border-radius: 20px;
    cursor: pointer;
}


/* cart */
.cartTab{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}
body.showCart .cartTab{
    right: 0;
}
body.showCart .container{
    transform: translateX(-250px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    height: 55px; /* Adjust height as needed */
    grid-template-columns: repeat(2, 1fr);

}
#totalCartPrice{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}
.cartTab button{
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .close{
    background-color: #eee;
}
.cartTab .listCart .item img{
    width: 100%;   
}
.cartTab .listCart .item {
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}


.listCart .quantity span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color:#eee;
    color: #555;
    border-radius: 50%;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color:transparent;
    color:#eee;
}
.listCart .quantity span:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width:0;
}


.listCart .item img{
    width: 100%;
}
.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}











.search-bar {
    display: flex;
    align-items: center;
    min-width: 700px;
    border-radius: 50px;
    background-color: var(--white);
}
  
.dropdown {
    position: relative;
    width: 280px;
    border-radius: 50px;
    background-color: var(--purple);
    border: 1px solid var(--white);
    box-shadow: var(--shadow);
    cursor: pointer;
}
  
.dropdown-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 500;
    background-color: transparent;
    padding: 1rem 1.5rem;
    color: var(--white);
}
  
.dropdown-list {
    display: block;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    border-radius: 15px;
    max-height: 0;
    overflow: hidden;
    background-color: var(--white);
    transition: max-height 0.5s;
}
  
.dropdown-list-item {
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 15px;
    padding: 1rem 0 1rem 1.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.3s ease, margin-left 0.2s ease;
}
  
.dropdown-list-item:hover {
    margin-left: 0.5rem;
    color: var(--purple);
}
  
#list.show {
    max-height: 300px;
}
  
.search-box {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    width: 100%;
    color: var(--purple);
}
  
.search-box input {
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    color: var(--purple);
    border: 0;
    outline: 0;
}
  
.search-box i {
    font-size: 1.3rem;
    cursor: pointer;
}
  
.search-box input::placeholder {
    font-size: 1rem;
    font-weight: 500;
    color: var(--purple);
}























@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
}